*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #242424;
  place-items: center;
}

main {
  width: 100vmin;
  height: 95vmin;
  place-items: center;
  cursor: default;
  -webkit-text-stroke: 4px #454545;
  paint-order: stroke fill;
  margin-top: 0.25rem;
}

.dialogue-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

dialog {
  position: static;
  width: clamp(300px, 90%, 500px);
  border: none;
  border-radius: 10px;
  padding: 2rem;
  opacity: 0.9;
}

dialog button {
  margin-top: 0.5rem;
  padding: 1rem;
}

.tile-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.tile-list .tile {
  width: calc(100% / 13);
  aspect-ratio: 1 / 1;
  background-color: #404f4f;
  border: #293333 2px solid;
}

.tile-list .tile:hover:has(img),
.tile-list .tile:hover:has(.tile-hidden) {
  border-color: #feb700;
}

.tile > div {
  width: 100%;
  height: 100%;
  color: #d8d8d8;
  font-weight: bold;
  padding: 1px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tile > div:has(img),
.tile > div.tile-hidden {
  color: #feb700;
  background-color: #526666;
  cursor: pointer;
}

.tile > div.tile-hidden {
  color: #f7e26b;
}

.tile > div.tile-hidden span {
  color: #319ced;
  font-size: 2rem;
}

.tile > div.tile-hidden.being-marked {
  border: #c72ff5 2px solid;
}

.tile > div:has(img) > span {
  margin-top: -10px;
}

.tile > div > img {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.tile > div > span {
  width: 100%;
  line-height: 0;
}

.tile > div.can-collect {
  background-color: #666543;
  color: #ffb700;
  border: #7e7d52 2px solid;
}

.tile > div.can-collect > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile > div.can-collect > span > img {
  height: 15px;
  aspect-ratio: 1 / 1;
  margin: 0;
}

.stats-bar {
  background-color: #4c566b;
  width: 100%;
  padding: 0.5rem;
  display: grid;
  grid-template-areas:
    "hero energy"
    "hero experience";
  grid-template-columns: 1fr 5fr;
  gap: 0px;
  border: #293333 2px solid;
  text-align: left;
}

.hero-bar {
  grid-area: hero;
  text-align: center;
}

.hero-bar > img.can-level-up {
  cursor: pointer;
}

.energy-bar {
  grid-area: energy;
}

.energy-bar > .every-five {
  margin-left: 0.75rem;
}

.experience-bar {
  grid-area: experience;
}

.experience-bar span {
  color: #eeda6a;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 0.5rem;
  line-height: 0;
  -webkit-text-stroke: 5px #323232;
}

.experience-bar img {
  position: relative;
}

.experience-bar > .every-five {
  margin-left: 0.75rem;
}

.experience-bar img {
  margin-right: -10px;
}

.experience-bar > .even {
  top: +13px;
}

.marker-button-list-wrapper {
  position: absolute;
}

.marker-button-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0px;
}

.marker-button-list.hidden {
  opacity: 0;
}

.marker-button-list .marker-button {
  color: #efda67;
  background-color: #c7a381;
  width: 2rem;
  height: 2rem;
  border: #252525 2px solid;
  cursor: pointer;
}

.marker-button-list .button-x {
  color: #319ced;
  font-size: 2rem;
  line-height: 2rem;
}

.marker-button-list .button-remove {
  color: #d8d8d8;
  background-color: #d62222;
}

.marker-button-list .button-cancel {
  color: #d8d8d8;
  background-color: #3e5f80;
  width: auto;
  grid-area: 4 / 2 / span 1 / span 3;
}
